@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-family: "poppins", sans-serif;
  font-size: 62.5%;
}

body {
  max-width: 100vw;
}

.custom--container {
  padding: 0 2rem;
  position: relative;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
  font-size: 1.5rem;
  height: 100%;
}

h1 {
  font-size: 4rem;
  line-height: 5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.2rem;
}

h4 {
  font-size: 1.8rem;
}

button {
  outline: none;
}

@media screen and (min-width: 700px) {
  html {
    font-size: 80%;
  }
}
.imagesSection .imagesSection__content {
  height: 90vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 150px;
}
.imagesSection .imagesSection__content .imagesSection__img {
  width: 100%;
  position: relative;
  background-position: center;
  transition: all 1s;
  overflow: hidden;
}
.imagesSection .imagesSection__content .imagesSection__img::after {
  content: "";
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 1.5s;
}
.imagesSection .imagesSection__content .imagesSection__img:nth-child(1)::after {
  background-image: url("https://dl.dropboxusercontent.com/s/sxr5i5vx11hbkpe/imageSection-first.png?dl=0");
}
.imagesSection .imagesSection__content .imagesSection__img:nth-child(2)::after {
  background-image: url("https://dl.dropboxusercontent.com/s/ve4nt201oid64ld/imageSection-2.png?dl=0");
}
.imagesSection .imagesSection__content .imagesSection__img:nth-child(3)::after {
  background-image: url("https://dl.dropboxusercontent.com/s/670uqgj988fpkjz/imageSection-3.png?dl=0");
}
.imagesSection .imagesSection__content .imagesSection__img:nth-child(4)::after {
  background-image: url("https://dl.dropboxusercontent.com/s/84qvy6nobc5l0ve/imageSection-4.png?dl=0");
}
.imagesSection .imagesSection__content .imagesSection__img:nth-child(5)::after {
  background-image: url("https://dl.dropboxusercontent.com/s/o4h3ga3hmf8d2ox/imageSection-last.png?dl=0");
}
.imagesSection .imagesSection__content .imagesSection__img:nth-child(3),
.imagesSection .imagesSection__content .imagesSection__img:nth-child(4) {
  display: none;
}
.imagesSection .imagesSection__content .imagesSection__img-link-wraper .imagesSection__img-link {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

@media screen and (min-width: 550px) {
  .imagesSection__content {
    height: 100vh;
    grid-template-columns: 1fr 1fr !important;
    grid-template-rows: repeat(2, 50%) !important;
    grid-gap: 0.5%;
  }

  .imagesSection__img:first-child {
    grid-row: 1/3;
  }

  .imagesSection__img-link-wraper {
    display: none !important;
  }

  .imagesSection__img {
    display: block !important;
  }
}
@media screen and (min-width: 800px) {
  .imagesSection__content {
    grid-template-columns: 1fr 1fr 1fr !important;
  }
}
@media (pointer: fine) {
  .imagesSection__img:hover::after {
    width: calc(110%) !important;
    height: 110% !important;
  }
}

/*# sourceMappingURL=imagesSection.css.map */
