@use "pageStyles" as *;
.msg {
    background-color: #EBEBEB;
    padding: 8rem 0;
    .msg__content-wraper{
        margin: 0 auto;
        text-align: center;
        width: 100%;
        max-width: 600px;
        .msg__heading{
            font-weight: $semiBold;
            color: $themeColor
        }
        .msg__para{
            padding: 2rem 0;
            font-weight: $light;
        }
    }
}
