@use "pageStyles" as *;
.msg {
    width: 100%;
    padding: var(--spacer--section-sm) 0;
    display: flex;
    align-items: center;
    background-color: $greyBg;
    max-height: 500px;
    position: relative;
    .msg__content-wraper{
        z-index: 100;
        margin: 0 auto;
        text-align: center;
        width: 100%;
        max-width: 1300px;
        .msg__heading{
            line-height: 1;
            font-weight: $semiBold;
            color: $themeColor
        }
        .msg__para{
            padding: 1rem 0;
            font-weight: $light;
        }
    }
}

// @media screen and (min-width:1000px){
//     .msg{
//         padding: var(--spacer--section-md) .5rem;
//     }
// }
