@use "pageStyles" as *;
.msg {
    width: 100%;
    padding: 0 .5rem;
    display: flex;
    align-items: center;
    height: 45vh;
    background-color: $greyBg;
    max-height: 500px;
    position: relative;
    .msg__content-wraper{
        margin: 0 auto;
        text-align: center;
        width: 100%;
        max-width: 1300px;
        .msg__heading{
            font-weight: $semiBold;
            color: $themeColor
        }
        .msg__para{
            padding: 1rem 0;
            font-weight: $light;
        }
    }
}
