@use "pageStyles" as *;
.nav{
    padding-top: .5rem !important;
    padding-bottom: .5rem !important;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1000;
    &::after{
        content: "";
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #ECECEC;
        z-index: -1;
    }
    .nav__wraper{
        display: flex;
        align-items: center;
        position: relative;
        justify-content: space-between;
        width: 100%;
        .nav__logo-wraper{
            .nav__logo{
                width: 20vw;
                max-width: 70px;
            }
        }
        .nav__side-bar{
            font-size: 2rem;
            font-weight: 500;
            a{
                text-decoration: none;
                color: #000;
                &:hover{
                    transition: .1s;
                    color: $themeColor;
                }
            }
            .slider__bottom{
                display: none;
            }
        }
        .nav__sidebar-toggler{
            z-index: 100;
            position: absolute;
            right: 0;
            z-index: 98;
            &::after{
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
            }
            svg{
                color: #000;
                width: 4rem;
                height: 100%;
            }
        }
    }
}

@media screen and (min-width: 1300px){
    .nav-toggler-disable{
        display: none;
    }   
    .nav__side-bar{
        color: #fff;
        a{
            padding: 0 1.5rem;
            display: inline-block !important;
        }
    }
}
.nav__fixed{
    position: fixed !important;
    &::after{
        content: "";
        opacity: 90%;
    }
}
