.nav{
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
    width: 100%;
    position: absolute;
    z-index: 1000;
    .nav__wraper{
        display: flex;
        align-items: center;
        position: relative;
        justify-content: space-between;
        width: 100%;
        .nav__logo-wraper{
            .nav__logo{
                width: 20vw;
                max-width: 100px;
            }
        }
        .nav__side-bar{
            font-size: 1.3rem;
            font-weight: 500;
            a{
                text-decoration: none;
                color: inherit;
            }
            .slider__bottom{
                display: none;
            }
        }
        .nav__sidebar-toggler{
            z-index: 100;
            position: absolute;
            top: 0;
            right: 0;
            svg{
                color: #fff;
                width: 4rem;
                height: 100%;
            }
        }
    }
}

@media screen and (min-width: 1300px){
    .nav-toggler-disable{
        display: none;
    }   
    .nav__side-bar{
        color: #fff;
        a{
            padding: 0 1.5rem;
            display: inline-block !important;
        }
    }
}