.nav{
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
    width: 100%;
    position: absolute;
    .nav__wraper{
        position: relative;
        width: 100%;
        .nav__logo-wraper{
            .nav__logo{
                width: 20vw;
                max-width: 100px;
            }
        }
        .nav__side-bar{
            height: 100vh;
            width: 70vw;
            position: fixed;
            top: 0;
            right: -70vw;
            background-color: #fff;
            font-size: 2.8rem;
            font-weight: 700;
            transition: right 0.8s;
            ul{
                li{
                    list-style-type: none;
                }
            }
        }
        .nav__sidebar-toggler{
            z-index: 100;
            position: absolute;
            top: 0;
            right: 0;
            svg{
                color: #fff;
                width: 4rem;
                height: 100%;
            }
        }
    }
}
.nav--slider-toggle{
    right: 0 !important;
}