@use "pageStyles" as *;
.openHours{
    padding: var(--spacer--section-sm) 0;
    background-color: $greyBg;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;

        &::after{
            content: "";
            width: 100%;
            height: 100%;
            background-image: url("/images/openHours-waterMark.png");
            background-repeat: no-repeat;
            position: absolute;
            opacity: 8%;
            background-size: 800px;
            background-position: -200px 20%;

        }
    .openHours__container{
        :is(.openHours__heading,.openHours__time) {
            font-weight: $semiBold;
        }
        .openHours__heading {
            line-height: 1;
            color: $themeColor;
        }
        .openHours__time{
            padding: 1rem 0 1rem 0;
        }
        .openHours__table{
            font-weight: $medium;
            font-size: 1.3rem;
            li{
                padding: 0.3rem 0;
                list-style-type: none;
            }
        }
    }
}

@media screen and (min-width:700px){
    .openHours{
        text-align: center;
        justify-content: center;
    }
}