@use "pageStyles" as *;
$itemWidth: 300px;
:root{
    --this-section-padding: 4rem;
}
@media (min-width: 1000px){
    :root{
        --this-section-padding: 10rem
    }
}


.swiper-container {
    width: 100%;
    height: 100%;
  }
.ourProducts{
    overflow: hidden;
    position: relative;
    .ourProducts__bg-watermark-wraper{
        position: absolute;
        opacity: 8%;
        bottom: -10rem;
        right: -13rem;
    }
    .ourProducts__content-wraper{
        width: 100%;
        padding: var(--this-section-padding) 0;
        position: relative;
        .ourProducts__top{
            .ourProducts__heading{
                font-weight: $semiBold;
                text-align: center;
                line-height: .8;
            }
            .ourProducts__para{
                padding:var(--spacer--lg) 0;
                text-align: center;
                font-weight: $light;
            }
        }
    }
    
    .ourProducts__items{
        display: flex;
        // justify-content: center;
        // width: 100%;
        padding-top: clamp(1rem,2vw,5rem);
        text-align: center;
        .ourProducts__item{
            display: flex;
            flex-direction: column;
            align-items: center;
            .ourProducts__item-img-wraper{
                width: 200px;
                height: 200px;
                .ourProducts__item-img{
                    width: 100%;
                    height: 100%;
                    background-color: #FBDDDD;
                }
            }
            .ourProducts__item-details{
                padding-top: 2.5rem;
                width: 50ch;
                .ourProducts__item-name{
                    font-weight: $medium;
                }
                .ourProducts__item-description{
                    font-weight: $light;
                }
            }
        }
    }
}

.ourProducts__navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    height: 60%;
    position: absolute;
    width: 100%;
    padding-top: 3.5rem;
    .ourProducts__navigation-btn{
        z-index: 1000;
        margin: 0 3rem;
        position: absolute;
        background-color: transparent;
        border: none;
        svg{
            width: 3rem;
        }
    }
    .ourProducts__navigation-btn:nth-child(1){
        left: 0;
    }
    .ourProducts__navigation-btn:nth-child(2){
        right: 0;
    }
}

@media screen and (min-width:1000px){
    .ourProducts__bg-watermark-wraper{
        right: -20rem !important;
        .ourProducts__bg-watermark{
            width: 700px;
        }
    }
}

.dis-none-1000{
    display: none !important;
}