@use "pageStyles" as *;
$white-bg: #fff;
$white-text: #fff;
.ourProducts{
    padding-top: 10rem;
    padding-bottom: 10rem;
    height: 100%;
    position: relative;
    color: $white-text;
    background-color: #000;
    overflow: hidden;
    &::before{
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        margin: 0;
        left: 0;
        top: 0;
        background-image: url("../images/ourProducts-bg-texture.png");
        opacity: 80%;
    }
    .ourProducts__left{
        width: 40vw;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        object-fit: cover;
        z-index: 50;
        background-color: red;
        .ourProducts__item-ref-img{
            z-index: 1;
            position: absolute;
            width: 100%;
            height: 100%;
        }
    }
    .ourProducts__top{
        position: relative;
        z-index: 50;
            .ourProducts__heading{
                line-height: 0.8;
                font-weight: $bold;
                .ourProducts__heading-top{
                    display: inline-flex;
                    align-items: center;
                    justify-content: start;
                    position: relative;
                    &::after{
                        content: "";
                        background-color: $white-bg;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 7rem;
                        height: 8px;
                        position: absolute;
                        // top: 0;
                        right: -110px;
                    }
                }
            }
            .ourProducts__para-wraper{
                padding: 2rem 0;
                .ourProducts__para{
                    font-weight: $light;
                    width: 60ch;
                }
            }
    }
    .ourProducts__bottom{
        z-index: 50;
        position: relative;
        .swiper-wrapper{
            display: flex;
            align-items: center;
        }
        .ourProducts__carousel{
            display: flex;
            align-items: center;
            height: 100%;
            .ourProducts__item {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 500px;
                z-index: 100;
                transition: transform .5s;
                cursor: pointer;
                img{
                    width: 100%;
                    object-fit: cover;
                }
                .ourProducts__item-name{
                    position: absolute;
                    font-size: clamp(4vw, 4vw, 4vw);
                    font-weight: $bold;
                    z-index: 100;
                }
            }
        }
        .ourProducts__navigation-svg{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: absolute;
            top: 0;
            div{
                position: relative;
                z-index: 100;
            }

        }
    }
}

.ourProducts__item:hover{
    transform: scale(.9);
    .ourProducts__item-name{
        color: #51A580;
    }
}

.item--active-size{
        width: 600px !important;
}
.ourProducts--img-ref-active{
        z-index: 10 !important;
}