@use "pageStyles" as *;
$section--padding: 4rem;
.ourProducts{
    overflow: hidden;
    position: relative;
    .ourProducts__bg-watermark-wraper{
        position: absolute;
        opacity: 8%;
        bottom: -10rem;
        right: -13rem;
    }
    .ourProducts__content-wraper{
        padding: $section--padding 0;
        position: relative;
        .ourProducts__top{
            .ourProducts__heading{
                font-weight: $semiBold;
                text-align: center;
                line-height: .8;
            }
            .ourProducts__para{
                padding: 0 0 .5rem 0;
                text-align: center;
                font-weight: $light;
            }
        }
    }
    .ourProducts__items{
        text-align: center;
        // display: flex;
        .ourProducts__item-img-wraper{
            width: 200px;
            height: 200px;
            .ourProducts__item-img{
                width: 100%;
                height: 100%;
                background-color: #FBDDDD;
            }
        }
        .ourProducts__item{
            display: grid;
            place-items: center;
            .ourProducts__item-details{
                padding-top: 2.5rem;
                width: 80%;
                .ourProducts__item-name{
                    font-weight: $medium;
                }
                .ourProducts__item-description{
                    font-weight: $light;
                }
            }
        }
    }
}

.ourProducts__navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    height: 100%;
    position: absolute;
    width: 100%;
    padding-top: 3.5rem;
    .ourProducts__navigation-btn{
        margin: 0 3rem;
        position: absolute;
        background-color: transparent;
        border: none;
        svg{
            width: 3rem;
        }
    }
    .ourProducts__navigation-btn:nth-child(1){
        left: 0;
    }
    .ourProducts__navigation-btn:nth-child(2){
        right: 0;
    }
}
