// poppins
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$semiBold:600;
$bold: 700;
$medium: 500;
$light: 300;

$cWhite: #fff;
$themeColor: #1B5D40;
$greyBg: #EBEBEB;



:root{
--spacer--section-sm: 4rem;
--spacer: .5rem;
--spacer--lg: calc(var(--spacer) * 2);
--spacer--md: calc(var(--spacer) * 1);
}
@media (min-width:1000px){
    :root{
        --spacer: 1rem;
        --spacer--section-sm: 8rem;
    }
}

*{
    padding: 0;
    margin: 0;
}
*,
::after,
::before {
    box-sizing: border-box;
}
html{
    font-family: "poppins",sans-serif;
    font-size: 62.5%;
    cursor: context-menu;
}
body{
    max-width: 100vw;
    overflow-x: hidden;
}
.custom--container {
    margin: 0 2rem;
    position: relative;
}
@media screen and (max-width:700px){
    .custom--container {
        margin: 0 3rem;
    }
}
@media screen and (min-width:700px){
    .custom--container {
        margin: 0 5rem;
    }
}
h1{
    font-size: clamp(4rem,5vw,7rem);
}
h2{
    font-size: clamp(4rem,5vw,7rem);
}
h3{
    font-size: clamp(2.2rem,3vw,3rem);
}
h4{
    font-size: clamp(1.8rem,2vw,2.5rem);
}
p{
    font-size: clamp(1.5rem,1.5vw,2rem);
}

button{
    outline: none;
    cursor: pointer;
}

.section__paper-effect{
    &::before{
        content: "";
        width: 100%;
        height: 100px;
        background-image: url("../svg/paperEffect.svg");
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        left: 0;
        right: 0;
        top: -15px;
        z-index: 50;
    }
}

.dis-block{
    display: block !important;
}

.btn{
    background: $themeColor;
    border-radius: 0.8rem;
    padding: 1.5rem 3rem;
    font-weight: $semiBold;
    border: none;
    font-size:clamp(1.5rem,1vw,2.8rem);
    transition: all .3s;
    color: #fff;
    position: relative;
    overflow: hidden;
    &::before{
        content: "";
        background-color: #51A580;
        width: 100%; 
        height: 120%;
        position: absolute;
        top: 0;
        left: -100%;
        z-index: 1;
        object-fit: contain;
        transition: all .6s;
    }
    .btn-text{
        position: relative;
        z-index: 50;
    }
}

.btn:hover.btn::before{
    left: 0;
}

@media screen and (min-width:1000px){
    .btn{
        margin: 0 !important;
        padding: 2rem 4rem !important;
    }
}