@use "pageStyles" as *;
.staffInfo {
    width: 100%;
    min-height: 80vh;
    position: relative;
    .staffInfo-sections {
        position: absolute;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
      .staffInfo__left {
        background: #212121;
        position: absolute;
        width: 100%;
        height: 100%;
      }
      .staffInfo__right {
        width: 100%;
        height: 100%;
        z-index: 10;
        position: relative;
        background-color: red;
          img{
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            object-fit: cover;
            z-index: -1;
            // transform: translateZ(-1px) scale(1.7);
          }
      }
    }
  }

  .staffInfo__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    color: $cWhite;
    z-index: 100;
    max-width: 750px;
    position: relative;
    .staffInfo__heading{
      padding-bottom: 1rem;
    }
    .staffInfo__para-wraper{
      .staffInfo__para{
        font-weight: $light;
      }
    }
  }

@media screen and (min-width:1200px){
  .staffInfo__left {
    position: relative !important;
  }
  .staffInfo-sections{
    grid-template-columns: 1fr 1fr !important;
    .staffInfo__left{
      display: block !important;
    }
  }
}
