@use "pageStyles" as *;
.imagesSection{
    .imagesSection__content{
        display: grid;
        grid-template-columns: 1fr;
        .imagesSection__img{
            position: relative;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .imagesSection__img:nth-child(3),
        .imagesSection__img:nth-child(4){
            display: none;
        }
        .imagesSection__img-link-wraper{       
            .imagesSection__img-link{
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                width: 100%;
                height: 100%;
                color: $cWhite;
                text-decoration: none;
                font-weight: $semiBold;
            }
        }
    }
}

@media screen and (min-width:500px){
    .imagesSection__content{
        height: 100vh;
        grid-template-columns: 1fr 1fr 1fr!important;
        grid-template-rows: repeat(2,50%);
        grid-gap: .5%;
    }
    .imagesSection__img:first-child{
        grid-row: 1/3;
    }
    .imagesSection__img-link-wraper{
        display: none !important;
    }
    .imagesSection__img{
        display: block !important;
    }
}