@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  font-size: 62.5%;
  cursor: context-menu;
}

button {
  outline: none;
  cursor: pointer;
}

.btn {
  display: inline-block;
  background: #1b5d40;
  border-radius: 0.8rem;
  padding: 1.5rem 3rem;
  font-weight: 500;
  border: none;
  color: #fff;
  position: relative;
  z-index: 1;
}

.responsive {
  display: block;
}

@media screen and (min-width: 1000px) {
  .responsive {
    display: none !important;
  }
}
.para-spacer {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.custom--container {
  max-width: calc(100vw - 50px);
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.5rem;
}

p {
  font-size: 1.5rem;
  font-weight: 200;
  line-height: 1.8;
}

.section-spacer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

:root {
  --remove-section-spacer: -3rem;
}

@media screen and (min-width: 43.75em) {
  :root {
    --remove-section-spacer: -6rem;
  }

  .section-spacer {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .custom--container {
    max-width: calc(100vw - 80px);
  }

  h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 5rem;
  }

  h3 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 62em) {
  :root {
    --remove-section-spacer: -8rem;
  }

  .section-spacer {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }

  .para-spacer {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .custom--container {
    max-width: calc(100vw - 100px);
  }

  h1 {
    font-size: 7rem;
  }

  h2 {
    font-size: 6rem;
  }

  h3 {
    font-size: 3.5rem;
  }

  p {
    font-size: 2rem;
  }
}
@media screen and (min-width: 87em) {
  :root {
    --remove-section-spacer: -10rem;
  }

  .section-spacer {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }

  .custom--container {
    max-width: calc(100vw - 400px);
  }

  h1 {
    font-size: 9rem;
  }

  h2 {
    font-size: 8rem;
  }

  h3 {
    font-size: 4.5rem;
  }

  p {
    font-size: 2.5rem;
  }
}
.section-main-heading {
  font-family: "AngleciaProDisplay-Regular";
  color: #1b5d40;
  text-transform: capitalize;
}

.carousel-btn {
  position: absolute;
  top: 37%;
  z-index: 5;
  z-index: 100;
}
.carousel-btn svg {
  width: 50px;
}

.nextBtn {
  right: 0;
}

.prevBtn {
  left: 0;
}

#errorMsg {
  color: #cf3e3e;
  font-weight: 500;
  padding-top: 1rem;
  text-transform: capitalize;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: #000;
  background-image: url("../images/hero-bg.png");
}
.hero .hero__content {
  text-align: center;
}
.hero .hero__content .hero__logo-wraper {
  font-family: "AngleciaProDisplay-Regular";
  line-height: 70%;
}
.hero .hero__content .hero__para {
  max-width: 800px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
}

.hero__logo {
  width: 100%;
}

@media screen and (min-width: 700px) {
  .hero__logo {
    width: 60rem;
  }
}
@media screen and (min-width: 992px) {
  .hero__logo {
    width: 60rem;
  }
}
@media screen and (min-width: 1392px) {
  .hero__logo {
    width: 100%;
  }
}
@keyframes zoomIn {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
.nav-wraper {
  width: 100%;
  background: #fff;
  position: fixed;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  box-shadow: 0 3px 20px black;
  z-index: 999;
}
.nav-wraper .nav {
  display: flex;
  height: 70px;
}
.nav-wraper .nav .nav__left-sec {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  align-items: center;
}
.nav-wraper .nav .nav__right-sec {
  display: flex;
  align-items: center;
  height: 100%;
}
.nav-wraper .nav .nav__right-sec .toggle-btn {
  margin-left: auto;
  position: relative;
  z-index: 1000;
}
.nav-wraper .nav .nav__right-sec .nav__right-sec-nav {
  margin-left: auto;
  white-space: nowrap;
}
.nav-wraper .nav .nav__right-sec .nav__right-sec-nav li {
  font-weight: 500;
}
.nav-wraper .nav .nav__right-sec .nav__right-sec-nav li a {
  text-decoration: none;
  color: #000;
}

@media only screen and (max-width: 1000px) {
  .nav__left-logo {
    width: 150px;
  }

  .nav__right-sec-nav {
    font-size: 1.4rem;
    background: #fff;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    justify-content: center;
    transition: all 0.8s;
    width: 260px;
    transform: translateX(calc(-100% - 0px));
  }
  .nav__right-sec-nav li {
    padding: 5rem 2rem;
  }

  .sidebar--overlay {
    width: 100vw;
    height: 100vh;
    background: #000;
    opacity: 0%;
    position: fixed;
    transition: 0.5s all;
    z-index: -1;
  }
}
@media only screen and (min-width: 1000px) {
  .nav__right-sec-nav {
    font-size: 1.8rem;
  }
  .nav__right-sec-nav li {
    display: inline-block;
  }
  .nav__right-sec-nav li:not(li:last-child) {
    padding-right: 8rem;
  }
}
@media screen and (min-width: 700px) {
  .nav__left-logo {
    width: 300px;
  }
}
.toggle-sidebar {
  transform: translateX(0) !important;
}

.sidebar--overlay-transition {
  display: block !important;
  opacity: 70%;
  z-index: 900;
}

/** Our system will use a 4px base vertical rhythm */
/** Our system's base font size */
/**
 * Calculate the type offset for a given font
 *
 * @param {number} $lh - the font's base line height
 * @param {number} $fontSize - the font's size
 * @param {number} $descenderHeightScale - the font's descender height as a ratio
 * @return {number} the offset to be added to a transformY to keep the text in place
 */
/**
 * The basekick base function
 *
 * @param {number} $typeSizeModifier - a multiplier to determine the font size
 * @param {number} $typeRowSpan - how many rows of our vertical rhythm should the type span
 * @param {number} $descenderHeightScale - the height of the descender expressed as a ratio of the font
 * @param {number} $capHeight - the font's cap height expressed as a ratio of the font
 */
/**
 * The Lato mixin to apply basekick styles
 *
 * @param {number} $typeSizeModifier - a multiplier for our system's $baseFontSize
 * @param {number} $typeRowSpan - the height of the descender expressed as a ratio of the font
 */
.ourProducts {
  position: relative;
  background-image: url("../images/background-texture.png");
  z-index: 1;
}
.ourProducts .ourProducts__top {
  display: grid;
  grid-template-areas: "top" "bottom";
}
.ourProducts .ourProducts__top .ourProducts__top-ref-img-wraper {
  grid-area: top;
}
.ourProducts .ourProducts__top .ourProducts__top-ref-img-wraper .ourProducts__top-ref-img {
  margin-top: var(--remove-section-spacer);
  width: 100%;
  height: 400px;
}
.ourProducts .ourProducts__top .ourProducts__top-ref-img-wraper .ourProducts__top-ref-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.ourProducts .ourProducts__top .ourProducts__top-ref-img-wraper .ourProducts__top-info {
  padding-top: 2rem;
  grid-area: bottom;
}
.ourProducts .ourProducts__top .ourProducts__top-ref-img-wraper {
  margin: 0 calc(calc(100% - 100vw) / 2);
}
.ourProducts .ourProducts__bottom {
  position: relative;
  width: 100%;
  padding-top: 5rem;
}
.ourProducts .ourProducts__bottom .ourProducts__bottom-top {
  text-align: center;
}
.ourProducts .ourProducts__bottom .ourProducts__bottom-top .ourProducts__bottom-top-para {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.ourProducts .ourProducts__bottom .ourProducts__bottom-bottom {
  width: 100%;
}
.ourProducts .ourProducts__bottom .ourProducts__bottom-bottom .ourProducts__bottom-bottom-items {
  position: relative;
}
.ourProducts .item img {
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 43.75em) {
  .ourProducts .ourProducts__top .ourProducts__top-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-top: 0;
  }
  .ourProducts .ourProducts__top .ourProducts__top-info .ourProducts__top-info-heading {
    max-width: 730px;
    letter-spacing: 1px;
  }
  .ourProducts .ourProducts__top .ourProducts__top-info .ourProducts__top-info-para {
    width: 80%;
  }
  .ourProducts .ourProducts__bottom .ourProducts__bottom-top .ourProducts__bottom-top-para {
    width: 80%;
  }
  .ourProducts .ourProducts__bottom .ourProducts__bottom-bottom-btn svg {
    width: 100px;
  }
}
@media screen and (min-width: 992px) {
  .ourProducts .ourProducts__top {
    grid-template-columns: 1fr 550px;
    grid-template-rows: auto;
    grid-template-areas: "top-info top-img";
    justify-items: center;
    position: relative;
    margin-right: calc(calc(100% - 100vw) / 2);
  }
  .ourProducts .ourProducts__top .ourProducts__top-ref-img-wraper {
    grid-area: top-img;
  }
  .ourProducts .ourProducts__top .ourProducts__top-ref-img-wraper .ourProducts__top-ref-img {
    right: 0px;
    width: 550px;
    height: calc(100% + var(--remove-section-spacer) / -1);
    top: 0;
  }
  .ourProducts .ourProducts__top .ourProducts__top-info {
    justify-self: start;
    padding-bottom: 10rem;
    display: block;
    text-align: left;
    padding-right: 4rem;
    grid-area: top-info;
    max-width: 600px;
  }
  .ourProducts .ourProducts__top .ourProducts__top-info .ourProducts__top-info-heading {
    width: 100%;
    max-width: 730px;
    letter-spacing: 1px;
  }
  .ourProducts .ourProducts__top .ourProducts__top-info .ourProducts__top-info-para {
    width: 90%;
  }
  .ourProducts .ourProducts__bottom {
    padding-top: 5rem;
  }
  .ourProducts .ourProducts__bottom .ourProducts__bottom-top .ourProducts__bottom-top-para {
    width: 60%;
  }
  .ourProducts .ourProducts__bottom .ourProducts__bottom-bottom-btn {
    padding: 0 5rem;
  }
  .ourProducts .ourProducts__bottom .ourProducts__bottom-bottom-btn svg {
    width: 100px;
  }
}
@media screen and (min-width: 1392px) {
  .ourProducts .ourProducts__top {
    margin-right: calc(calc(100% - 100vw) / 2);
  }
  .ourProducts .ourProducts__top .ourProducts__top-ref-img {
    right: 0px;
    width: 550px;
    height: 820px;
    grid-area: top-img;
    top: 0;
  }
  .ourProducts .ourProducts__top .ourProducts__top-info {
    max-width: 800px;
  }
  .ourProducts .ourProducts__top .ourProducts__top-info .ourProducts__top-info-para {
    width: 80%;
  }
}
.full-width {
  margin-left: calc(calc(100% - 100vw) / 2);
  margin-right: calc(calc(100% - 100vw) / 2);
}

:root {
  --item-spacer: .8rem ;
}

.footer {
  padding-left: 3rem;
  padding-right: 3rem;
  background: #000;
  color: #fff;
  font-size: 1.5rem;
  position: relative;
  font-weight: 0;
}
.footer ul {
  list-style-type: none;
}
.footer .footer__group {
  padding-top: 3rem;
}
.footer .footer_left .footer__logo {
  width: 100%;
  max-width: 500px;
}
.footer .footer_left .footer__logo img {
  width: 100%;
}
.footer .footer_left .footer__para {
  width: 100%;
  max-width: 400px;
}
.footer .footer__middle .footer__openHours .footer__openHours-heading {
  background-color: #fff;
  color: #000;
  font-size: calc(1.8rem * 1.5);
  display: inline-block;
  padding: 0 1rem;
  margin-bottom: 1rem;
}
.footer .footer__middle .footer__openHours .footer__openHours-timeTable {
  display: flex;
  width: 100%;
  flex-direction: row;
}
.footer .footer__middle .footer__openHours .footer__openHours-timeTable .footer__openHours-timeTable-row td:first-child {
  padding-right: 1rem;
}
.footer .footer__middle .footer__openHours .footer__openHours-timeTable .footer__openHours-timeTable-row td {
  padding-top: var(--item-spacer);
}
.footer .footer__middle .footer__openHours-contact-wraper {
  padding-top: 2rem;
}
.footer .footer__middle .footer__openHours-contact-wraper .footer__openHours-contact li {
  padding-top: var(--item-spacer);
}
.footer .footer__right-wraper .footer__right li {
  padding-top: var(--item-spacer);
}
.footer .footer__right-wraper .footer__right li a {
  color: #fff;
  text-decoration: none;
}
.footer .footer__right-wraper .footer__social-media-logos {
  padding-top: 2rem;
}
.footer .footer__right-wraper .footer__social-media-logos img {
  width: 50px;
  padding-right: 1rem;
}
.footer .footer__copyright {
  white-space: nowrap;
}

@media screen and (min-width: 62em) {
  :root {
    --item-spacer: 2rem;
  }

  .footer {
    font-size: 1.8rem;
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .footer .footer__group {
    padding: 0;
  }
  .footer .footer__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 40px;
    align-content: end;
  }
  .footer .footer_left {
    position: relative;
    height: 100%;
    grid-row: 1/2;
  }
  .footer .footer_left .footer__logo {
    display: flex;
    height: 100%;
    align-items: center;
  }
  .footer .footer__middle {
    grid-row: 1/3;
    padding-left: 15rem;
    justify-self: center;
    height: 100%;
  }
  .footer .footer__middle .footer__openHours-contact-wraper .footer__openHours-contact {
    padding-top: 3rem;
  }
  .footer .footer__right-wraper {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 8rem;
    grid-row: 1/3;
    align-self: end;
    justify-self: end;
    position: relative;
  }
  .footer .footer__right-wraper .footer__right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .footer .footer__right-wraper .footer__right li {
    padding-right: 2rem;
  }
  .footer .footer__right-wraper .footer__social-media-logos {
    padding-top: 5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .footer .footer__right-wraper .footer__social-media-logos img {
    margin-right: 2rem;
  }
}
@media screen and (min-width: 87em) {
  .footer {
    font-size: 2rem;
  }
}
.menuPage_hero {
  position: relative;
  background: #c58f8f;
  color: #fff;
  padding: 13rem 0;
}
.menuPage_hero .hero__content {
  width: 100vw;
  display: block;
  text-align: center;
}
.menuPage_hero .hero__content .hero__heading {
  display: block;
}
.menuPage_hero .hero__content .hero__para {
  display: block;
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}

/** Our system will use a 4px base vertical rhythm */
/** Our system's base font size */
/**
 * Calculate the type offset for a given font
 *
 * @param {number} $lh - the font's base line height
 * @param {number} $fontSize - the font's size
 * @param {number} $descenderHeightScale - the font's descender height as a ratio
 * @return {number} the offset to be added to a transformY to keep the text in place
 */
/**
 * The basekick base function
 *
 * @param {number} $typeSizeModifier - a multiplier to determine the font size
 * @param {number} $typeRowSpan - how many rows of our vertical rhythm should the type span
 * @param {number} $descenderHeightScale - the height of the descender expressed as a ratio of the font
 * @param {number} $capHeight - the font's cap height expressed as a ratio of the font
 */
/**
 * The Lato mixin to apply basekick styles
 *
 * @param {number} $typeSizeModifier - a multiplier for our system's $baseFontSize
 * @param {number} $typeRowSpan - the height of the descender expressed as a ratio of the font
 */
.aboutUs {
  display: flex;
  justify-content: center;
  background: #000;
  position: relative;
  z-index: 1;
}
.aboutUs::before {
  content: "";
  background-image: url("../images/scratch effect.png");
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
  top: 0;
  z-index: -1;
}
.aboutUs .paper-effect-top-wraper {
  overflow-x: hidden;
  width: 100%;
  position: absolute;
  top: -15px;
  z-index: -1;
  left: 0;
}
.aboutUs .paper-effect-bottom-wraper {
  overflow-x: hidden;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -15px;
  z-index: -1;
}
.aboutUs .aboutUs__row {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.aboutUs .aboutUs__row .aboutUs__row-img {
  width: 30rem;
}
.aboutUs .aboutUs__row .aboutUs__row-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.aboutUs .aboutUs__row .aboutUs__row-texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
  color: #fff;
}
.aboutUs .aboutUs__row .aboutUs__row-texts .aboutUs__row-texts-heading {
  text-transform: capitalize;
  padding: 1.5rem 0;
  width: 100%;
  max-width: 50rem;
  font-family: "AngleciaProDisplay-Regular";
}
.aboutUs .aboutUs__row .aboutUs__row-texts .aboutUs__row-texts-para {
  max-width: 40rem;
}
.aboutUs .aboutUs__row-divide-line {
  width: 0.5rem;
  height: 10rem;
  background-color: #fff;
  margin: 3rem auto;
}
.aboutUs .aboutUs-highlight {
  font-family: "AngleciaProDisplay-Regular";
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.aboutUs .aboutUs-highlight::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: #1b5d40;
  z-index: -1;
  transform: rotate(1deg);
  left: 0;
  bottom: 0;
}

@media screen and (min-width: 62em) {
  .aboutUs .aboutUs__row {
    max-width: 100.7rem;
  }
  .aboutUs .aboutUs__row .aboutUs__row-img {
    grid-area: row-img;
    width: 100%;
    height: 100%;
  }
  .aboutUs .aboutUs__row .aboutUs__row-texts {
    grid-area: row-texts;
  }
  .aboutUs .aboutUs__row .aboutUs__row-texts .aboutUs__row-texts-heading {
    padding: 2rem 0;
    max-width: 60.5rem;
  }
  .aboutUs .aboutUs__row .aboutUs__row-texts .aboutUs__row-texts-para {
    max-width: 60rem;
  }
  .aboutUs .aboutUs__row-left {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "row-texts row-img";
  }
  .aboutUs .aboutUs__row-left .aboutUs__row-img {
    width: 100%;
  }
  .aboutUs .aboutUs__row-left .aboutUs__row-texts {
    margin-right: 4rem;
    width: 50rem;
    text-align: left;
  }
  .aboutUs .aboutUs__row-right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "row-img row-texts";
  }
  .aboutUs .aboutUs__row-right .aboutUs__row-img {
    width: 100%;
  }
  .aboutUs .aboutUs__row-right .aboutUs__row-texts {
    margin-left: 4rem;
    text-align: left;
    width: 500px;
  }
  .aboutUs .aboutUs__row-center {
    width: calc(100% / 2);
    margin: 0 auto;
  }
  .aboutUs #aboutUs__row2 {
    grid-template-columns: none !important;
  }
  .aboutUs .aboutUs__row-divide-line {
    height: 155px;
    margin: 8rem auto;
  }
}
@media screen and (min-width: 87em) {
  .aboutUs .aboutUs__row {
    max-width: 150.7rem;
  }
  .aboutUs .aboutUs__row .aboutUs__row-img {
    width: 100%;
  }
  .aboutUs .aboutUs__row-left {
    grid-template-columns: 1fr 1fr;
  }
  .aboutUs .aboutUs__row-left .aboutUs__row-texts {
    width: 60rem;
  }
  .aboutUs .aboutUs__row-right {
    grid-template-columns: 1fr 1fr;
  }
  .aboutUs .aboutUs__row-right .aboutUs__row-texts {
    width: 60rem;
  }
}
.testimonials {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: #e0dcd9;
  overflow: hidden;
  position: relative;
}
.testimonials::before {
  content: "";
  width: 50%;
  height: 100%;
  display: block;
  position: absolute;
  background-image: url("../images/testimonials-bg-img.png");
  background-position: -100px 100px;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 4%;
  left: 0;
}
.testimonials .testimonials__top {
  text-align: center;
}
.testimonials .testimonials__top .testimonials__heading {
  text-transform: uppercase;
}
.testimonials .testimonials__bottom .carousel-btn-wraper {
  display: table;
  margin: 0 auto;
}
.testimonials .testimonials__bottom .testimonials__bottom-testimonials {
  overflow: visible;
  position: relative;
}
.testimonials .testimonials__bottom .testimonials__bottom-testimonials .testimonials__bottom-testimonial-reviewer {
  padding-top: 1.5rem;
  font-size: 1.8rem;
  text-transform: capitalize;
}
.testimonials .testimonials__bottom .testimonials__bottom-testimonials .testimonials__carousel-btn {
  display: inline-block;
  position: relative;
  top: 0;
  padding: 0 1rem;
}
.testimonials .testimonials__bottom .testimonials__bottom-testimonials .testimonials__bottom-testimonial-wraper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.testimonials .testimonials__bottom .testimonials__bottom-testimonials .testimonials__bottom-testimonial-wraper .testimonials__bottom-testimonial {
  max-width: 700px;
}

@media screen and (min-width: 62em) {
  .testimonials .testimonials__bottom .testimonials__bottom-testimonials .testimonials__bottom-testimonial-reviewer {
    padding-top: 1.5rem;
    font-size: 2rem;
  }
  .testimonials .testimonials__bottom .testimonials__bottom-testimonials .testimonials__carousel-btn {
    position: absolute;
  }
  .testimonials .testimonials__bottom .testimonials__bottom-testimonials #testimonials-prevBtn {
    left: -15px;
  }
  .testimonials .testimonials__bottom .testimonials__bottom-testimonials #testimonials-nextBtn {
    right: -15px;
  }
  .testimonials .testimonials__bottom .testimonials__bottom-testimonials .testimonials__bottom-testimonial-wraper .testimonials__bottom-testimonial {
    max-width: 800px;
  }
}
@media screen and (min-width: 87em) {
  .testimonials .testimonials__bottom .testimonials__bottom-testimonials .testimonials__bottom-testimonial-wraper .testimonials__bottom-testimonial {
    max-width: 950px;
  }
}
.newsletter {
  color: #fff;
  background-color: #000;
  border-bottom: 1px solid rgba(255, 255, 255, 0.35);
}
.newsletter .newsletter__left .newsletter__heading {
  color: #fff;
  line-height: 1;
  text-transform: uppercase;
}
.newsletter .newsletter__left .newsletter__subHeading {
  font-weight: 500;
  line-height: 1;
  padding-top: 1.5rem;
  text-transform: capitalize;
}
.newsletter .newsletter__left .newsletter__para {
  max-width: 52rem;
}
.newsletter .newsletter__right .newsletter__form {
  display: flex;
  height: 8rem;
}
.newsletter .newsletter__right .newsletter__form .newsletter__input {
  padding-left: 2.5rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  width: 100%;
  height: 100%;
  max-width: 45rem;
  border: 0;
  margin: 0;
}
.newsletter .newsletter__right .newsletter__form .newsletter__btn {
  background-color: #1b5d40;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  color: #fff;
  padding: 0 2rem;
  margin: 0;
  border: 0;
  height: 100%;
  font-size: 1.5rem;
}

@media screen and (min-width: 43.75em) {
  .newsletter .newsletter__left .newsletter__para {
    max-width: 59rem;
  }
}
@media screen and (min-width: 87em) {
  .newsletter .newsletter__content {
    display: flex;
    align-items: center;
  }
  .newsletter .newsletter__content .newsletter__subHeading {
    line-height: 1.3;
  }
  .newsletter .newsletter__content .newsletter__right {
    display: flex;
    justify-content: flex-end;
    width: 50%;
  }
  .newsletter .newsletter__content .newsletter__right .newsletter__form {
    width: 100%;
    max-width: 56rem;
    height: 10rem;
  }
  .newsletter .newsletter__content .newsletter__right .newsletter__form .newsletter__input {
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    font-size: 1.8rem;
  }
  .newsletter .newsletter__content .newsletter__right .newsletter__form .newsletter__btn {
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    font-size: 1.8rem;
  }
}

/*# sourceMappingURL=index.css.map */
