@use "pageStyles" as *;

:root{
    --item-spacer: .8rem
}

.footer{
    padding-left: 3rem;
    padding-right: 3rem;
    background: #000;
    color:#fff;
    font-size: 1.5rem;
    position: relative;
    font-weight: 00;
    ul{
        list-style-type: none;
    }
    .footer__group{
        padding-top: 3rem;
    }
    .footer_left{
        .footer__logo{
            width: 100%;
            max-width: 500px;
            img{
                width: 100%;
            }
        }
        .footer__para{
            width: 100%;
            max-width: 400px;
        }
    }
    .footer__middle{
        .footer__openHours{
            .footer__openHours-heading{
                background-color: #fff;
                color: #000;
                font-size: calc(1.8rem * 1.5);
                display: inline-block;
                padding: 0 1rem;
                margin-bottom: 1rem;
            }
            .footer__openHours-timeTable{
                display: flex;
                width: 100%;
                flex-direction: row;
                .footer__openHours-timeTable-row{
                    td:first-child{
                        padding-right: 1rem; 
                    }
                    td{
                        padding-top: var(--item-spacer);
                    }
                }
            }
        }
        .footer__openHours-contact-wraper{
            padding-top: 2rem;
            .footer__openHours-contact{
                li{
                    padding-top: var(--item-spacer);
                }
            }
        }
    }
    .footer__right-wraper{
        .footer__right{
            li{
                padding-top: var(--item-spacer);
                a{
                    color: $cWhite;
                    text-decoration: none;
                }
            }
        }
        .footer__social-media-logos{
            img{
                width: 50px;
                padding-right: 1rem;
            }
            padding-top: 2rem;
        }
    }
    .footer__copyright{
        white-space:nowrap;
    }
}

@media screen and (min-width: 62em) {
    :root{
        --item-spacer: 2rem;
    }
    .footer{
        font-size: 1.8rem;
        padding-left: 5rem;
        padding-right: 5rem;
        .footer__group{
            padding: 0;
        }
        .footer__content{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: auto 40px;
            align-content: end;
        }
        .footer_left{
            position: relative;
            height: 100%;
            grid-row: 1/2;
            .footer__logo{
              display: flex;
              height: 100%;
              align-items: center;
            }
        }
        .footer__middle{
            grid-row: 1/3;
            padding-left: 15rem;
            justify-self: center;
            height: 100%;
            .footer__openHours-contact-wraper{
                .footer__openHours-contact{
                    padding-top: 3rem;
                }
            }
        }
        .footer__right-wraper{
            width: 100%;
            display: flex;
            flex-direction: column;
            padding-left: 8rem;
            grid-row: 1/3;
            align-self: end;
            justify-self: end;
            position: relative;
            .footer__right{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                li{
                    padding-right: 2rem;
                }
            }
            .footer__social-media-logos{
                padding-top: 5rem;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                img{
                    margin-right: 2rem;
                }
            }
        }
    }
}

@media screen and (min-width: 87em) {
    .footer{
        font-size: 2rem;
    }
}