@use "pageStyles" as *;
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: #000;
    background-image: url("../images/hero-bg.png");
    .hero__content{
        text-align: center;
        .hero__logo-wraper{
            font-family: "AngleciaProDisplay-Regular";
            line-height:70%;
        }
        .hero__para{
            max-width:800px;
            width:90%;
            margin-left:auto;
            margin-right:auto;  
            color: #fff;
        }
    }
}

.hero__logo{
    width:100%;
}
@media screen and (min-width:700px){
    .hero__logo{
        width:60rem;
    }
}
@media screen and (min-width:992px){
    .hero__logo{
        width:60rem;
    }
}
@media screen and (min-width:1392px){
    .hero__logo{
        width:100%;
    }
}
//animations 
// bg image zoom in animation
@keyframes zoomIn {
    0% {transform:scale(1);}
    100% {transform: scale(1.2);}
}