@use "pageStyles" as *;
.imagesSection{
    .imagesSection__content{
        height: 90vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 150px;
        grid-gap: .5rem;
        .imagesSection__img{
            width: 100%;
            position: relative;
            background-position: center;
            transition: all 1s;
            overflow: hidden;
            &::after{
                content: "";
                background-repeat: no-repeat;
                background-size: cover;
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                transition: all 1.5s;
                overflow: hidden;
            }
            // &:hover::after{
            //     width: calc(110%);
            //     height: 110%;
            // }
        }
        .imagesSection__img:nth-child(1)::after{
            background-image: url("https://dl.dropboxusercontent.com/s/sxr5i5vx11hbkpe/imageSection-first.png?dl=0");
          }
          .imagesSection__img:nth-child(2)::after{
            background-image: url("https://dl.dropboxusercontent.com/s/ve4nt201oid64ld/imageSection-2.png?dl=0");
          }
          .imagesSection__img:nth-child(3)::after{
            background-image: url("https://dl.dropboxusercontent.com/s/670uqgj988fpkjz/imageSection-3.png?dl=0");
          }
          .imagesSection__img:nth-child(4)::after{
            background-image: url("https://dl.dropboxusercontent.com/s/84qvy6nobc5l0ve/imageSection-4.png?dl=0");
          }
          .imagesSection__img:nth-child(5)::after{
            background-image: url("https://dl.dropboxusercontent.com/s/o4h3ga3hmf8d2ox/imageSection-last.png?dl=0");
          }
        .imagesSection__img:nth-child(3),
        .imagesSection__img:nth-child(4){
            display: none;
        }
        .imagesSection__img-link-wraper{       
            .imagesSection__img-link{
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                width: 100%;
                height: 100%;
                color: $cWhite;
                text-decoration: none;
                font-weight: $semiBold;
            }
        }
    }
}
@media screen and (min-width:550px){
    .imagesSection__content{
        height: 100vh;
        grid-template-columns: 1fr 1fr!important;
        grid-template-rows: repeat(2,50%) !important;
        // grid-gap: .5%;
    }
    .imagesSection__img:first-child{
        grid-row: 1/3;
    }
    .imagesSection__img-link-wraper{
        display: none !important;
    }
    .imagesSection__img{
        display: block !important;
    }
}

@media screen and (min-width:800px){
    .imagesSection__content{
        grid-template-columns: 1fr 1fr 1fr !important;
    }
}

@media (pointer:fine){
    .imagesSection__img{
        &:hover::after{
            transform: scale(1.2);
        }
    }
}