.menuPage_hero{
    position: relative;
    background: rgb(197, 143, 143);
    color: #fff;
    padding: 13rem 0;
    .hero__content{
        width: 100vw;
        display: block;
        text-align: center;
        .hero__heading{
            display: block;
        }
        .hero__para{
            display: block;
            width: 90%;
            max-width: 800px;
            margin: 0 auto;
        }
    }
}