@use "pageStyles" as *;

@mixin rest-anchor {
    text-decoration: none;
}
.nav-wraper{
    width: 100%;
    background: $c-white;
    position: fixed;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    box-shadow: 0 3px 20px rgba(0,0,0,16);
    z-index: 999;
    .nav{
        display: flex;
        height: 70px;
        .nav__left-sec{
            display: flex;
            width: 100%;
            height: 100%;
            position: relative;
            align-items: center;
        }
        .nav__right-sec{
            display: flex;
            align-items: center;
            height: 100%;
            .toggle-btn{
                margin-left:auto;
                position: relative;
                z-index: 1000;
            }
            .nav__right-sec-nav{
                margin-left:auto;
                white-space: nowrap;
                li {
                    font-weight: $medium;
                    a{
                        @include rest-anchor;
                        color: $cBlack
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:1000px) {
    .nav__left-logo{
        width:150px;
    }
    .nav__right-sec-nav{
        font-size: 1.4rem;
        background: $cWhite;
        display: flex;
        flex-direction: column;
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        justify-content: center;
        transition: all 0.8s;
        width: 260px;
        transform: translateX(calc(-100% - 0px));
        li{
            padding: 5rem 2rem;
        }
    }
    .sidebar--overlay{
        width: 100vw;
        height: 100vh;
        background: #000;
        opacity: 0%;
        position: fixed;
        transition: .5s all;
        z-index: -1;
    }
}

@media only screen and (min-width: 1000px){
    .nav__right-sec-nav{
        font-size:1.8rem;
        li{
            display: inline-block;
        }
        li:not(li:last-child){
            padding-right:8rem;
        }

    }
}

@media screen and (min-width:700px){
    .nav__left-logo{
        width: 300px;
    }
}

.toggle-sidebar{
    transform: translateX(0) !important;
}

.sidebar--overlay-transition{
    display: block !important;
    opacity: 70%;
    z-index: 900;
}
