@use "pageStyles" as *;
.newsletter{
  color: #fff;
  background-color: #000;
  border-bottom: 1px solid rgb(255,255,255, 35%);
  .newsletter__left{
    .newsletter__heading{
      color: $cWhite;
      line-height: 1;
      text-transform: uppercase;
    }
    .newsletter__subHeading{
      font-weight: $medium;
      line-height: 1;
      padding-top: 1.5rem;
      text-transform: capitalize;
    }
    .newsletter__para{
      max-width: 52rem;
    }
  }
  .newsletter__right{
    .newsletter__form{
      display: flex;
      height: 8rem;
      .newsletter__input{
        padding-left: 2.5rem;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
        width: 100%;
        height: 100%;
        max-width: 45rem;
        border: 0;
        margin: 0;
      }
      .newsletter__btn{
        background-color: $themeColor;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
        color: #fff;
        padding: 0 2rem;
        margin: 0;
        border: 0;
        height: 100%;
        font-size: 1.5rem
      }
    }
  }
}

@media screen and (min-width: 43.75em) {
  .newsletter{
    .newsletter__left{
      .newsletter__para{
        max-width: 59rem;
      }
    }
  }
}

@media screen and (min-width: 62em) {
}

@media screen and (min-width: 87em) {
  .newsletter{
    .newsletter__content{
      display: flex;
      align-items: center;
      .newsletter__subHeading{
        line-height: 1.3;
      }
      .newsletter__right{
        display: flex;
        align-items: flex-end;
        width: 100%;
        flex-direction: column;   
        .newsletter__form{
          width: 80%;
          max-width: 56rem;
          height: 10rem;
          .newsletter__input{
            border-top-left-radius: 1.5rem;
            border-bottom-left-radius: 1.5rem;
            font-size: 1.8rem;
          }
          .newsletter__btn{
            border-top-right-radius: 1.5rem;
            border-bottom-right-radius: 1.5rem;
            font-size: 1.8rem;
          }
        }
      }
    }
  }

}