@use "pageStyles" as *;
@import "basekick";
.ourProducts {
  position: relative;
  background-image: url("../images/background-texture.png");
  z-index: 1;
  .ourProducts__top {
    display: grid;
    grid-template-areas: "top" "bottom";
    .ourProducts__top-ref-img-wraper {
      grid-area: top;
      .ourProducts__top-ref-img {
        margin-top: var(--remove-section-spacer);
        width: 100%;
        height: 400px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .ourProducts__top-info {
        padding-top: 2rem;
        grid-area: bottom;
      }
    }
    .ourProducts__top-ref-img-wraper {
      margin: 0 $removeContainer;
    }
  }
  .ourProducts__bottom {
    position: relative;
    width: 100%;
    padding-top: 5rem;
    .ourProducts__bottom-top {
      text-align: center;
      .ourProducts__bottom-top-para {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
      }
    }
    .ourProducts__bottom-bottom {
      width: 100%;
      .ourProducts__bottom-bottom-items {
        position: relative;
      }
    }
  }
  .item {
    img {
      width: 100%;
      height: 100%;
    }
  }
}
@media only screen and (min-width: 43.75em) {
  .ourProducts {
    .ourProducts__top {
      .ourProducts__top-info {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding-top: 0;
        .ourProducts__top-info-heading {
          max-width: 730px;
          letter-spacing: 1px;
        }
        .ourProducts__top-info-para {
          width: 80%;
        }
      }
    }
    .ourProducts__bottom {
      .ourProducts__bottom-top {
        .ourProducts__bottom-top-para {
          width: 80%;
        }
      }
      .ourProducts__bottom-bottom-btn {
        svg {
          width: 100px;
        }
      }
    }
  }
}
@media screen and (min-width: 992px) {
  .ourProducts {
    .ourProducts__top {
      grid-template-columns: 1fr 550px;
      grid-template-rows: auto;
      grid-template-areas: "top-info top-img";
      justify-items: center;
      position: relative;
      margin-right: $removeContainer;
      .ourProducts__top-ref-img-wraper {
        grid-area: top-img;
        .ourProducts__top-ref-img {
          right: 0px;
          width: 550px;
          height: calc(100% + var(--remove-section-spacer) / -1);
          top: 0;
        }
      }
      .ourProducts__top-info {
        justify-self: start;
        padding-bottom: 10rem;
        display: block;
        text-align: left;
        padding-right: 4rem;
        grid-area: top-info;
        max-width: 600px;
        .ourProducts__top-info-heading {
          width: 100%;
          max-width: 730px;
          letter-spacing: 1px;
        }
        .ourProducts__top-info-para {
          width: 90%;
        }
      }
    }
    .ourProducts__bottom {
      padding-top: 5rem;
      .ourProducts__bottom-top {
        .ourProducts__bottom-top-para {
          width: 60%;
        }
      }
      .ourProducts__bottom-bottom-btn {
        padding: 0 5rem;
        svg {
          width: 100px;
        }
      }
    }
  }
}
@media screen and (min-width: 1392px) {
  .ourProducts {
    .ourProducts__top {
      margin-right: $removeContainer;
      .ourProducts__top-ref-img {
        right: 0px;
        width: 550px;
        height: 820px;
        grid-area: top-img;
        top: 0;
      }
      .ourProducts__top-info {
        max-width: 800px;
        .ourProducts__top-info-para {
          width: 80%;
        }
      }
    }
  }
}

.full-width {
  margin-left: $removeContainer;
  margin-right: $removeContainer;
}
