// 700px
// 992px
// 1392px

// poppins
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
$semiBold: 600;
$bold: 700;
$medium: 500;
$light: 200;

$cBlack: #000;
$cWhite: #fff;
$c-white: #fff;
$themeColor: #1b5d40;
$greyBg: red;

$firstPic: -15deg;
$secondPic: 25deg;
$thirdPic: 3deg;
$fourthPic: 17deg;

$size: calc(100% - 100vw);
$removeContainer: calc(#{$size} / 2);

html {
  font-size: 62.5%;
  cursor: context-menu;
}

// body{
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     width: 100vw;
// }

button {
  outline: none;
  cursor: pointer;
}

.btn {
  display: inline-block;
  background: $themeColor;
  border-radius: 0.8rem;
  padding: 1.5rem 3rem;
  font-weight: $medium;
  border: none;
  color: #fff;
  position: relative;
  z-index: 1;
}

.responsive {
  display: block;
}

@media screen and (min-width: 1000px) {
  .responsive {
    display: none !important;
  }
}

.para-spacer {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.custom--container {
  max-width: calc(100vw - 50px);
  margin-left: auto;
  margin-right: auto;
}
h1 {
  font-size: 5rem;
}
h2 {
  font-size: 4rem;
}
h3{
  font-size: 2.5rem;
}
p {
  font-size: 1.5rem;
  font-weight: $light;
  line-height: 1.8;
}

.section-spacer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
// @media screen and (max-width:43.75em){
//     $remove-section-spacer: -3rem;
// }
// mobile
:root {
  --remove-section-spacer: -3rem;
}

@media screen and (min-width: 43.75em) {
  :root {
    --remove-section-spacer: -6rem;
  }
  // $remove-section-spacer: -6rem;
  .section-spacer {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  .custom--container {
    max-width: calc(100vw - 80px);
  }
  h1 {
    font-size: 6rem;
  }
  h2 {
    font-size: 5rem;
  }
  h3{
    font-size: 2.5rem;
  }
  p {
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 62em) {
  :root {
    --remove-section-spacer: -8rem;
  }
  // $remove-section-spacer: -12rem;
  .section-spacer {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  .para-spacer {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .custom--container {
    max-width: calc(100vw - 100px);
  }
  h1 {
    font-size: 7rem;
  }
  h2 {
    font-size: 6rem;
  }
  h3{
    font-size: 3.5rem;
  }
  p {
    font-size: 2rem;
  }
}
@media screen and (min-width: 87em) {
  :root {
    --remove-section-spacer: -10rem;
  }
  // $remove-section-spacer: -12rem;
  .section-spacer {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
  .custom--container {
    max-width: calc(100vw - 400px);
  }
  h1 {
    font-size: 9rem;
  }
  h2 {
    font-size: 8rem;
  }
  h3 {
    font-size: 4.5rem;
  }
  p {
    font-size: 2.5rem;
  }
}

.section-main-heading {
  font-family: "AngleciaProDisplay-Regular";
  color: $themeColor;
  text-transform: capitalize;
}

.carousel-btn {
  position: absolute;
  top: 37%;
  z-index: 5;
  z-index: 100;
  svg {
    width: 50px;
  }
}
.nextBtn {
  right: 0;
}
.prevBtn {
  left: 0;
}


#errorMsg{
  color: #cf3e3e;
  font-weight: $medium;
  padding-top: 1rem;
  text-transform: capitalize;
}