@use "pageStyles" as *;
.staffInfo{
    padding: 0 .5rem;
    position: relative;
    width: 100%;
    .staffInfo__content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4,300px);
        position: relative;
        grid-template-areas: 
        "img-col1 q-col1"
        "img-col2 q-col2"
        "img-col3 q-col3"
        "img-col4 q-col4"
        ;
            div{
                background: grey;
            }
            .col1{
                background: darkblue;
                grid-area: img-col1;
            }
            .col2{
                background: darkcyan;
                grid-area: img-col2;
            }
            .col3{
                background: darkblue;
                grid-area: img-col3;
            }
            .col4{
                background: green;
                grid-area: img-col4;
            }

            .q-col1{
                background: red;
                grid-area: q-col1;
            }
            .q-col2{
                background: darkblue;
                grid-area: q-col2;
            }
            .q-col3{
                background: darkcyan;
                grid-area: q-col3;
            }
            .q-col4{
                background: darkblue;
                grid-area: q-col4;
            }
    }
}

@media screen and (min-width: 810px){
    .staffInfo__content{
        padding: 0 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr !important;
        grid-template-rows: repeat(2,300px) !important;
        grid-template-areas: 
        "img-col1 img-col2 img-col3"
        "img-col1 img-col4 q-col1"
        !important;
        .col1{
            grid-row: 1/3 !important;
        }
        .q-col1{
            grid-column: 3/5 !important;
        }
    }
}

@media screen and (min-width: 1200px){
    .staffInfo__content{
        padding: 0 8rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr !important;
        grid-template-rows: 400px 400px !important;
        height: auto !important;
        grid-template-areas: 
        "img-col1 img-col2 img-col3 img-col4"
        "img-col1 q-col1 q-col1 1-col1"
        !important;
        .col1{
            grid-row: 1/3 !important;
        }
        .q-col1{
            grid-column: 2/5 !important;
        }
    }
}

// @media screen and (max-width: 850px){
//     .staffInfo{
//         position: relative;
//         width: 100%;
//         .staffInfo__content{
//             display: grid;
//             grid-template-columns: 1fr 1fr;
//             width: 100%;
//             .img-cols * {
//                 width: 100%;
//                 height: 300px;
//                 &:nth-child(odd){
//                     background: red;
//                 }
//                 &:nth-child(even){
//                     background: green;
//                 }
//             }
//             .quote-cols * {
//                 width: 100%;
//                 height: 100px;
//                 height: 300px;
//                 &:nth-child(even){
//                     background: red;
//                 }
//                 &:nth-child(odd){
//                     background: green;
//                 }
//             }
//         }
//     }
// }

 