@use "pageStyles" as *;
.loadingscreen{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.err-page{
  height: 500px;
}

.err-msg{
  padding-top: 150px;
}

@keyframes ldio-zpph7eoltp {
    0% { transform: translate(-50%,-50%) rotate(0deg); }
    100% { transform: translate(-50%,-50%) rotate(360deg); }
  }
  .ldio-zpph7eoltp div {
    position: absolute;
    width: 50px;
    height: 50px;
    border: 20px solid $themeColor;
    border-top-color: transparent;
    border-radius: 50%;
  }
  .ldio-zpph7eoltp div {
    animation: ldio-zpph7eoltp 1s linear infinite;
    top: 100px;
    left: 100px
  }
  .loadingio-spinner-rolling-41td33w7vp1 {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: #ffffff;
  }
  .ldio-zpph7eoltp {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldio-zpph7eoltp div { box-sizing: content-box; }